body {
    background-color: #dbce16;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: #333;
}

#sign-in-form {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#sign-in-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

#sign-in-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#sign-in-form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#sign-in-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#sign-in-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #dbce16;
    border: none;
    border-radius: 3px;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
}

#sign-in-form button[type="submit"]:hover {
    background-color: #c0b00f;
    color: #fff;
    text-decoration: underline;
}